# Flutter build outputs
/build
/.dart_tool
/.idea
.packages
.pub-cache
.pub/

# MacOS
.DS_Store

# Android
**/local.properties
**/app/*.iml
**/build/

# iOS
**/Flutter/Flutter.framework
**/Flutter/Flutter.podspec
**/Pods/
**/Runner.xcworkspace/
**/Runner/GeneratedPluginRegistrant.*
**/xcuserdata/
**/Flutter/Flutter.framework
**/Flutter/App.framework
**/Flutter/Flutter.podspec
